@font-face {
    font-family: "Lavigne";
    src: url('../fonts/Lavigne.ttf');
}

#text {
    -fx-font-family: "Lavigne";
}

#background {
    -fx-background-color: #FAF9F6;
}

#success {
    -fx-background-radius: 70px;
    -fx-padding: 10px;
    -fx-font-family: "Lavigne";
    -fx-background-color: #4CBB17;
    -fx-text-fill: white;
}

#FAQ {
    -fx-box-border: transparent;
}

#FAQ .titled-pane > .title > .arrow-button > .arrow {
    -fx-opacity: 0;
    -fx-effect: null;
}

#FAQ .titled-pane > *.content {
    -fx-background-color: #1876FF;
    -fx-font-family: "Lavigne";
    -fx-padding: 5px;
}

#FAQ .titled-pane:hover {
    -fx-text-fill: #21e4e4;
}

#FAQ .titled-pane:expanded {
    -fx-text-fill: #21e4e4;
}

#FAQ .titled-pane > .title {
    -fx-background-color: #1876FF;
    -fx-font-family: "Lavigne";
    -fx-padding: 1px;
    -fx-font-size: 12pt;
    -fx-alignment: center;
}

#error {
    -fx-background-radius: 70px;
    -fx-padding: 10px;
    -fx-font-family: "Lavigne";
    -fx-background-color: #B33A3A;
    -fx-text-fill: white;
}

#gradient {
    -fx-background-color: linear-gradient(#1876FF, #18AFFF);
}

#pane {
    -fx-margin: auto;
}